<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <TargetFramework>net8.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishAll>true</PublishAll>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>$(BaseOutputPath)\Release\publish\multi\</PublishDir>
  </PropertyGroup>
</Project>
