__pycache__/
*.patch
ca.crt
ca.key
codesign.crt
codesign.csr
codesign.key
codesign.pfx
passFile.txt
signingCert.cer
signingPrivateKey.pem
*.py[cod]
.DS_Store
tests/*
backdoored/*
*.log
fuzzing/pein/*
test_cases/*
